%h2
  Welcome to the area
  .lead Here are some places you should check out

.row
  .map.col-sm-6.col-sm-push-6.col-xs-12
    <div id="gmap_canvas" class='shrink'></div>
    <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>

  .col-sm-6.col-sm-pull-6.col-xs-12
    .list-group
      - Restaurant.all.shuffle.each do |restaurant|
        %a{:href => '#', class: 'list-group-item rest', :id => restaurant.token}
          = render 'application/restaurant', restaurant: restaurant

  = render 'application/js'