<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><span class="cuisine">F</span>Lunchtime Express</a>
    </div>
  </div>
</nav>